 <div class="container-fluid">
    <h2 class="text-center">Liste des produits</h2>
    <div>
      <app-search-products (searchTextChanged)="onSearchTextEntered($event)"></app-search-products>
    </div>
    <div class="row  ">
      <div class="col">
        <app-filter (filterRadioSelection)="onFilterCategory($event)"></app-filter>
      </div>
      <div class="col text-end">
        <button class="btn btn-primary" [routerLink]="['/', 'products', 'add']">
          Ajouter un produit
        </button>
      </div>
    </div>
    <ng-container *ngIf="!isLoading; else loading">
      <ng-container *ngIf="data | async as products; else loading">
        <table *ngIf="products.length > 0; else noData"
               class="table  table-hover table-bordered text-center"
        >
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Reference</th>
            <th scope="col">Description</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Modifier / Supprimer</th>
        
          </tr>
          </thead>
          <tbody *ngFor="let product of products">  
            <ng-container *ngIf="searchText ===''|| product.name.toLowerCase().includes(searchText)">
              <tr *ngIf="productCategory === 'All' || productCategory === product.category" [routerLink]="['/', 'products', 'detail', product.id]">
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>         
                <td>{{ product.reference }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantityStock }}</td>
                <td>{{ product.price }} €</td>
                <td>{{ product.category }}</td>
                <td >
                  <button class="btn btn-primary"
                          [routerLink]="['/', 'products', 'edit', product.id]">
                    <app-icon-edit></app-icon-edit>
                  </button>    
                  <button class="btn btn-danger ms-2"
                          (click)="delete(product)">
                    <app-icon-delete></app-icon-delete>
                  </button>
                </td>
             </tr>
            </ng-container>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </div> 
  <ng-template #noData>
    <div class="alert alert-danger" role="alert">
      Aucun produit disponible !
    </div>
  </ng-template>
  <ng-template #loading>
    <div class="alert alert-info" role="alert">
      Chargement des données...
    </div>
  </ng-template>  