<h2 class="text-center">Contact</h2>
<div class="container-fluid  border p-5 border bg-light needs-validation rounded">
  
    <form (ngSubmit)="onSubmit()">
  
      <div class=" form-group mb-3 form-floating">
        <input type="text" id="firstname" name="firstname" class="form-control" [(ngModel)]="firstname" required>
        <label for="firstname" class="form-label">Prénom:</label>
      </div>
  
      <div class="mb-3 form-floating">
        <input type="text" id="lastname" name="lastname" class="form-control" [(ngModel)]="lastname" required>
        <label for="lastname" class="form-label">Nom:</label>
      </div>
  
      <div class="mb-3 form-floating">
        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" required>
        <label for="email" class="form-label">E-mail:</label>
      </div>
  
      <div class="mb-3 form-floating">
        <input type="text" id="subject" name="subject" class="form-control" [(ngModel)]="subject" required>
        <label for="subject" class="form-label">Sujet:</label>
      </div>
  
      <div class="mb-3 form-floating">
        <textarea id="message" name="message" class="form-control" [(ngModel)]="message" required></textarea>
        <label for="message" class="form-label">Message:</label>
      </div>
  
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </div>
    </form>
  </div>
  