
:host {
    display: block;
    max-width: 400px;
    margin: 0 auto;
  }
  

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  

  
  button[type="submit"] {
    border-radius: 5px;
   
  }
  

  // .form-control.ng-invalid {
  //   border-left: 5px solid #ff0000;
  // }
  
 
  .form-control.ng-valid {
   border-left: 5px solid #00ff6a;
  }
   