:root{
    --app-primary: #032B43;
    --app-lou: #a3d3f0;
    --app-light: white;
    --app-dark: #02111B;
    --app-headerPanier : #c4c4c4;
    --app-greyArticle : #f7f7f7;
    --app-submitButton :#73a0da ;
    
    .form-submit-button {
        background: var(--app-dark);
        color: white;
    
    }
    

}


