body{
  background-color: white;
  margin-top: 50px;
}  
.container{
margin-top:100px;
margin-bottom:100px;
}
.carousel-inner img {
width: 100%;
height: 100%;
}

.carousel-item img{
width:80%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
filter:invert(20%);
}



/*=========description=============*/

.nav{
display: block;
}
.nav .list-nav{
  margin-bottom: 10px;
}
.certified i{
font-size: 12px;
}
.well input{
  margin-bottom: 5px;
}

.well textarea{
  margin-bottom: 10px;
}

/*=========ngb rating =============*/
ngb-rating{
color: #FFC107;
font-size: 20px;
}
