<div class="oublier-mdp">    
    <div class="col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <h2 class="text-center">Mot de passe oublié ?</h2>

        <form [formGroup]="forgotPasswordForm" class="p-5 border bg-light needs-validation rounded" >
            <p> Saisissez l'adresse e-mail associée à votre compte Nozama.
                Nous allons envoyer à cette adresse un lien vous permettant de réinitialiser facilement votre mot de passe.</p>
            
            <div class="form-group">
                <input [(ngModel)]="resetPassWordEmail" (ngModelChange)="checkValidEmail($event)" formControlName="email"
                type="email" class="form-control"placeholder="Email" id="Email" aria-describedby="emaiHelp" >
            </div>
            <small *ngIf="!resetPassWordEmail" class="text-danger ">*Email est requis*</small>
            <small *ngIf="!isValidEmail && resetPassWordEmail" class="text-danger ">*Email est invalidé*</small>

            <div class=" d-flex justify-content-center mt-2">
                <button type="submit" id="closeBtn" class="btn btn-secondary btn-lg btn-block rounded-pill me-2" >Fermer </button>            
                <button type="submit" (click)="confirmToSend()" class="btn btn-primary btn-lg btn-block rounded-pill" >Envoyer </button>               
            </div>
            <div class=" d-flex justify-content-center ">
               <a [routerLink]="['/', 'sign-in']"> <br> Retour à la connexion</a>
            </div>
        </form>
    </div>
    
</div>

