<form class="d-flex gap-1 flex-column" [formGroup]="form" (ngSubmit)="submit()">

  <div class="form-group mb-2 form-floating" >
      <input type="text" class="form-control " id="lastname" placeholder="Nom" formControlName="lastname">
      <label for="lastname">Nom</label>
      
  </div> 

  <div class="form-group mb-2 form-floating" >
    <input type="text" class="form-control " id="firstname" placeholder="Prénom" formControlName="firstname">
    <label for="firstname">Prénom</label>
  </div> 

    <div class="col">
        <select class="form-select" id="gender"  aria-label="Floating label select example" formControlName="gender">
          <option value="1">M</option>
          <option value="2">F</option>
          <option value="3">Non spécifié</option>
        </select>
    </div>

    <div class="form-group mb-2 form-floating" >
      <input type="text" class="form-control " id="mobile" placeholder="Téléphone" formControlName="mobile">
      <label for="mobile">Téléphone</label>
    </div>

    <div class="form-group mb-2 form-floating">
      <input type="text" class="form-control " id="mail" placeholder="Email" formControlName="mail">
      <label for="mail">Email</label>
    </div>
    <div class="form-group mb-2 form-floating" >
      <input type="text" class="form-control " id="password" placeholder="Mot de passe" formControlName="password">
      <label for="password">Mot de passe</label>
    </div>

    <input class="form-control" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" formControlName="birthdate"
        placeholder="Date de naissance" value="" aria-label="input birthdate">

    <div class="d-flex flex-row gap-1 justify-content-end">
    <button type="button" class="btn btn-secondary"
            (click)="cancelAction()">
      Annuler
    </button>
    <button class="btn btn-primary"
            [disabled]="isDisable()">
      {{titleButton}}
    </button>
  </div>
</form>
