<div class="catalogue-container">
  <div class="filters">
    <!-- Vos filtres vont ici -->
    <h2> Filtres </h2>
    <div class="filter-item">
      <label for="filter-category"> Catégorie : </label>
      <select id="filter-category" [(ngModel)]="selectedCategory">
        <option value="all"> Tous </option>
        <option value="Livres"> Livres </option>
        <option value="CD"> CD </option>
        <option value="DVD"> DVD </option>
        <option value="Jeux Vidéos"> Jeux vidéos </option>
      </select>
    </div>

    <div class="filter-item">
      <label for="filter-price"> Choisir le prix : </label>
      <select id="filter-price" [(ngModel)]="selectedPriceRange">
        <option value="all"> Tous </option>
        <option value="0-10"> 0 € - 10 € </option>
        <option value="11-20"> 11 € - 20 € </option>
        <option value="21-30"> 21 € - 30 € </option>
        <option value="31-40"> 31 € - 40 € </option>
        <option value="41-50"> 41 € - 50 € </option>
        <option value="51-60"> 51 € - 60 € </option>
        <option value="61-70"> 61 € - 70 € </option>
      </select>
    </div>

    <div class="filter-buttons">
      <button (click)="applyFilters()"> Appliquer les filtres </button>
      <button (click)="resetFilters()"> Réinitialiser les filtres</button>
    </div>
  </div>

  <div   class="product-list" #productCards [ngStyle]="{'height.px': getMaxDescriptionHeight()}">
    <div class="card product-card" *ngFor="let product of filteredProducts" [attr.id]="'product-card-' + product.id">
      <img class="card-img-top"  [routerLink]="['/','products', 'detail', product.id]" [src]="product.imageUrl" alt="{{ product.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text description" [title]="product.description">{{ product.description }}</p>
      </div>
      <div class="row">
        <div class="col">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Prix : {{ product.price }} €</li>
          </ul>
        </div>
        <div class="col">
          <button class="btn btn-primary" type="button"  (click)="addToCart(product)">Ajouter au panier</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [routerLink]="['/', 'products', 'detail']" -->
