* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.catalogue-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;

}

/* Styles des filtres */
.filters {
  width: 300px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
  min-height: 100vh;
}

.filter-item {
  margin-bottom: 15px;
}

.filter-item label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #000000;
}

.filter-item select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.filter-buttons button {
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
}

.filter-buttons button:hover {
  background-color: #0056b3;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  justify-content: flex-start;
  flex: 1;
  
}

.product-card {
  flex-basis: calc(25% - 20px);
  /* height: 400px; */ /* Commentez cette ligne pour ajuster la hauteur en fonction du contenu */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  /* align-items: stretch; */ /* Supprimez la règle "align-items: stretch" pour permettre aux cartes de s'ajuster en hauteur */
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  border-radius: 4px;
}

.product-card h5 {
  font-size: 18px;
  margin: 10px 0;
  color: #000000;
}

.product-card p {
  margin-bottom: 0;
  color: #000000;
  /* Limiter à 4 lignes avec une approche de secours pour les navigateurs basés sur WebKit */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Nombre de lignes maximum */
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}

.product-card p::after {
  content: '...';
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 20px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  pointer-events: none;
}

.product-card:hover p::after {
  content: none;
}

.product-card .row {
  margin-top: auto;
  align-items: center;
}

.product-card .row .col {
  padding: 0;
}

.product-card button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
}