a{
    text-decoration: none;
    color: #212529;
}
a:hover{
    color: #bbbbbb;
}
.fontSizeLittleTitle{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}
p{
    
    margin: 2px;
}
.hoverFAQ:hover {
    text-decoration: underline;
    color: #212529;
}
.barré{
    text-decoration: line-through;
    color: #bbbbbb;
}
