<div class="container-fluid my-3 ">
   
    <header class="fixed-top">
  
      <nav class="navbar navbar-expand-lg  row">
  
          <div class="col col-4">
              <a class="navbar-brand mx-2" [routerLink]="['/', 'catalogue']"><img src="../assets/images/nozama_logo_b.svg" width="125px" ></a>
          </div>
        <!--========searchHomePage=============-->
          <div class="col col-4 nav-search" >
                 <form class="d-flex" role="search">
                  <input class="form-control me-2" type="text"  #searchInput
                          placeholder="Rechercher un produit" aria-label="Search"
                          (keyup)="searchProduct($event)" (blur)="hideSearch()">

                  <button (click)="submitSearch(searchInput.value)" class="btn btn-outline-light" type="submit">Rechercher</button>
                  
                  <ul class="suggested-search" *ngIf="searchResult">
                    <li *ngFor="let item of searchResult">
                      <a>{{item.name}}</a>
                    </li>
                  </ul>
                </form>
              </div>
        <!--============================-->
              <div class="col  text-end align-self-center">
                <div class="btn-group dropstart">
                  <a  class="text-sylvain dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="bi bi-person mx-2 h4" ></i></a>
                  <!-- <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> -->
                  <!-- </button> -->
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/', 'sign-in']">Connexion</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/', 'sign-up']">Inscription</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" [routerLink]="['/', 'my-account']">Mon compte</a></li>
                  </ul>
                </div>
                <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="text-sylvain"><i class="bi bi-bag mx-2 h5"></i></a>
              </div>

              <!-- <div class="col border text-end">
                <div class="dropdown border">
                  <a  class="text-sylvain dropdown-toggle border" type="button" data-bs-toggle="dropdown" aria-expanded="false"> <i class="bi bi-person mx-2 h4" ></i></a>  
                  [routerLink]="['/', 'sign-in']"
                  <ul class="dropdown-menu border">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
                <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="text-sylvain"><i class="bi bi-bag mx-2 h5"></i></a>
              </div> -->

              
      </nav>
      <nav class="navbar navbar-expand-lg bg-lou row">
          <div class="row">
              <div class="col">
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                 </button>
              </div>
  
              <div class="collapse navbar-collapse col" id="navbarNavDropdown">
                   <ul class="navbar-nav">
                     <li class="nav-item">
                       <a class="nav-link active" aria-current="page" [routerLink]="['/', 'catalogue']">Accueil</a>
                     </li>
                     <li class="nav-item dropdown">
                      <!-- [routerLink]="['/', 'products', 'list']" -->
                        <!-- <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                        Boutique
                        </a>                    
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" [routerLink]="['/', 'CD']">CD</a></li>
                          <li><a class="dropdown-item" [routerLink]="['/', 'livres']" >Livres</a></li>
                          <li><a class="dropdown-item" [routerLink]="['/', 'jeux-videos']" >Jeux vidéos</a></li>
                        </ul>                 -->
                    </li>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a class="nav-link justify-content-md-end" aria-current="page" [routerLink]="['/', 'catalogue','cd']" > CD </a>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a class="nav-link  justify-content-md-end" [routerLink]="['/', 'catalogue','books']"> Livres</a>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a class="nav-link  justify-content-md-end" [routerLink]="['/', 'catalogue','games']"> Jeux vidéos</a>
                    </div>
                   
                    <li class="nav-item dropdown">
                      <!-- [routerLink]="['/', 'products', 'list']" -->
                        <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                        Admin
                        </a>                    
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" [routerLink]="['/', 'products', 'list']">Produits</a></li>
                          <li><a class="dropdown-item" [routerLink]="['/', 'orders', 'list']" >Commandes</a></li>
                          <li><a class="dropdown-item" [routerLink]="['/', 'categories', 'list']" >Catégories</a></li>
                          <li><a class="dropdown-item" [routerLink]="['/', 'users', 'list']" >Utilisateurs</a></li>
                          <li><a class="dropdown-item" [routerLink]="['/', 'reset-password']" >Changement mot de passe</a></li>
                          <li><a class="dropdown-item" [routerLink]="['/', 'catalogue']" >Catalogue</a></li>
                        </ul>                
                    </li>
                  </ul>
              </div>
          </div>
      </nav>                              
    </header>
   </div>
<app-off-canvas-cart></app-off-canvas-cart>

