header {
   
    background-color: var(--app-primary);
    color: var(--app-light);

}

.bg-lou {
    background-color: var(--app-lou);
}
.text-sylvain{
    color: white ;
}
.text-sylvain:hover {
    color: #a3d3f0;
}
/*========searchHomePage=============*/
.nav-search ul{
    list-style-type: none;
}
.suggested-search{
    padding-left: 0;
    position: absolute;
    top: 40px;
    z-index: 10;
    display: list-item !important;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 300px;
}
.suggested-search li {
    padding:5px;
    border: 1px solid #ddd;
}
.suggested-search li a{
    cursor: pointer;
    color: blueviolet; 
}
/*===============================*/

