<app-home>
    <div class="col col-lg-9 col-md-8 col-sm-12">
        <div class="row bg-article py-4 ps-5 mb-2">
            <h1>Mes commandes</h1>
        </div>
        <div class="row py-3 ps-5">
            Affichage de 3 sur 21
        </div>

        <div class="row bg-article py-4 px-5 mb-3">
            <p class="text-secondary p-0 m-0">Statut de la commande :</p>
            <h4 class="p-0 ">Commande en cours de livraison</h4> 
            <p class="p-0 ">LIVRAISON PRÉVUE LE 30 AOÛT 2023</p>         
                <div class="progress m-0 p-0 mb-3" role="progressbar" aria-label="Success example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: 75%"></div>
                </div>
            <div class="row text-center m-0 p-0 cursor" [routerLink]="['/','my-account','order-details']">
                <div class="col bg-white me-2 border border-2 "><img class="img-fluid" src="../../../../assets/images/FF16.jpg" alt="fait pas chier Thomas"> </div>
                <div class="col bg-white border border-2 me-2"><img class="img-fluid" src="../../../../assets/images/GTA.jpg" alt="fait pas chier Thomas"></div>
                <div class="col bg-white border border-2"><img class="img-fluid" src="../../../../assets/images/NB2K24.jpg" alt="fait pas chier Thomas"></div>
            </div>
                <div class="col col-3 my-2 p-0">
                    <a target="_blank" href="https://www.laposte.fr/colissimo"><h5>SUIVRE LE COLIS</h5></a>
                </div>
                <div class="col p-0"></div>
                <span class="border-bottom mb-3"></span>
                <div class="col p-0">
                    <p>N° de commande : 38439385</p>
                </div>
                <div class="col text-end"><a [routerLink]="['/','my-account','order-details']"><h5>Voir la commande</h5></a></div>      
        </div>
        <div class="row bg-article py-4 px-5 mb-3">
            <p class="text-secondary p-0 m-0">Statut de la commande :</p>
            <h4 class="p-0">Votre commande a été livrée !</h4> 
            <p class="p-0">LIVRÉE LE 15 JANVIER 2023</p>         
                <div class="progress m-0 p-0 mb-3" role="progressbar" aria-label="Success example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: 100%"></div>
                </div>
            <div class="row text-center m-0 p-0 cursor" [routerLink]="['/','my-account','order-details']">
                <div class="col bg-white me-2 border border-2 "><img class="img-fluid" src="../../../../assets/images/FF16.jpg" alt="fait pas chier Thomas"> </div>
                <div class="col bg-white border border-2 me-2"><img class="img-fluid" src="../../../../assets/images/GTA.jpg" alt="fait pas chier Thomas"></div>
                <div class="col bg-white border border-2"><img class="img-fluid" src="../../../../assets/images/NB2K24.jpg" alt="fait pas chier Thomas"></div>
            </div>
                <div class="col col-3 my-2 p-0">
                    <a target="_blank" href="https://www.laposte.fr/colissimo"><h5>SUIVRE LE COLIS</h5></a>
                </div>
                <div class="col p-0"></div>
                <span class="border-bottom mb-3"></span>
                <div class="col p-0">
                    <p>N° de commande : 38439385</p>
                </div>
                <div class="col text-end"><a [routerLink]="['/','my-account','order-details']"><h5>Voir la commande</h5></a></div>      
        </div>
        <div class="row bg-article py-4 px-5 mb-3">
            <p class="text-secondary p-0 m-0">Statut de la commande :</p>
            <h4 class="p-0">Votre commande a été livrée !</h4> 
            <p class="p-0">LIVRÉE LE 05 OCTOBRE 2022</p>         
                <div class="progress m-0 p-0 mb-3" role="progressbar" aria-label="Success example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: 100%"></div>
                </div>
            <div class="row text-center m-0 p-0 cursor" [routerLink]="['/','my-account','order-details']">
                <div class="col bg-white me-2 border border-2 "><img class="img-fluid" src="../../../../assets/images/FF16.jpg" alt="fait pas chier Thomas"> </div>
                <div class="col bg-white border border-2 me-2"><img class="img-fluid" src="../../../../assets/images/GTA.jpg" alt="fait pas chier Thomas"></div>
                <div class="col bg-white border border-2"><img class="img-fluid" src="../../../../assets/images/NB2K24.jpg" alt="fait pas chier Thomas"></div>
            </div>
                <div class="col col-3 my-2 p-0">
                    <a target="_blank" href="https://www.laposte.fr/colissimo"><h5>SUIVRE LE COLIS</h5></a>
                </div>
                <div class="col p-0"></div>
                <span class="border-bottom mb-3"></span>
                <div class="col p-0">
                    <p>N° de commande : 38439385</p>
                </div>
                <div class="col text-end"><a [routerLink]="['/','my-account','order-details']"><h5>Voir la commande</h5></a></div>      
        </div>
        <div class="row bg-article p-5 text-center justify-content-center">
            <div class="col col-5">
                <p>Affichage de 3 sur 21</p>
                <button class="btn btn-outline-dark py-3" type="button"> VOIR PLUS </button>
            </div>

        </div>

    </div>
</app-home>
