<div class="mt-2 container-fluid">

    <h2 class="text-center">Ajouter une commande</h2>

    <app-order-form
        (cancel) ="goToOrderList()"
        (validate) = "createOrder($event)">
    </app-order-form>
</div>

         

