.bg-lou {
    background-color: var(--app-lou);
}
.text-sylvain{
    color: white ;
}
.text-sylvain:hover {
    color: #a3d3f0;
 }
.titreLiens {
    font-size:larger;
}

.bg-blueprimary {
    background-color: var (--app-primary);
}

.bg-light {
    background-color: var (--app-light);
}

.backFooter {
    background-color: var(--app-dark);
}

.headerPanier {
    background-color: var(--app-headerPanier);
}
.bg-article {
    background-color: var(--app-greyArticle);

}

