
<form  class="d-flex gap-1 flex-column" [formGroup]="form" (ngSubmit)="submit()">
 
      <input class="form-control" type="text" formControlName="name"
           placeholder="Nom du produit" aria-label="input name">

      <input class="form-control" type="text" formControlName="reference"
            placeholder="Référence du produit" aria-label="input reference">
  
      <textarea class="form-control" type="text" formControlName="description"
           placeholder="Description du produit" aria-label="input description"></textarea>
  
      <input class="form-control" type="number" formControlName="quantityStock"
          placeholder="Quantité en stock" aria-label="input quantityStock">

      <input class="form-control" type="number" formControlName="price"
          placeholder="Prix du produit" aria-label="input price">

      <div class="col">

            <select class="form-select" aria-label="Default select example" formControlName="category">
              <option selected>Sélectionnez une catégorie</option>
                <option [value]="category.name" *ngFor="let category of categories$ |async "> 
                    {{category.name}}
                </option>
            </select>
        </div>
  
      <div class="d-flex flex-row gap-1 justify-content-end">
      <button type="button" class="btn btn-secondary"
              (click)="cancelAction()">
        Annuler
      </button>
      <button class="btn btn-primary"
              [disabled]="isDisable()">
        {{titleButton}}
      </button>
    </div>
  </form>
 



  