
<router-outlet></router-outlet>
 <app-header></app-header>
<!-- <main>
       
        <ng-content select=".tr-main" class="test"></ng-content>
        <button class="btn btn-primary ms-2" [routerLink]="['/', 'products', 'list']"> Produits</button>
        <button class="btn btn-primary ms-2" [routerLink]="['/', 'orders', 'list']">Commandes</button>
        <button class="btn btn-primary ms-2" [routerLink]="['/', 'categories', 'list']">Catégories</button>
        <button class="btn btn-primary ms-2" [routerLink]="['/', 'users', 'list']">Utilisateurs</button>
        <button class="btn btn-primary ms-2" [routerLink]="['/', 'reset-password']">Changement mot de passe</button>
        <button class="btn btn-primary ms-2" [routerLink]="['/', 'catalogue']">Catalogue</button>
</main> -->
<!-- <app-catalogue></app-catalogue> -->     
<app-footer></app-footer>  


