<app-home>
  <div class="col col-lg-9 col-md-8 col-sm-12 mb-2 bg-article">
    <div class="row bg-article pb-4 px-5 mb-2">
      <h1 class="pt-4 pb-2">Changer le mot de passe</h1>
      <p class="pb-3">N'hésitez pas à mettre à jour votre mot de passe pour que votre compte NOZAMA soit toujours sécurisé (* Indique un champ obligatoire).</p>

      <form [formGroup]="changePasswordForm" class="mt-4 bg-light needs-validation rounded" >
        <div class="form-group" [class.error]="changePasswordForm.controls['password'].dirty && changePasswordForm.hasError('required', 'password')">
          <label for="currentPassword">Mot de passe actuel* :</label>
          <input type="password" id="currentPassword" class="form-control" formControlName="currentPassword">
        </div>
        <small *ngIf="changePasswordForm.controls['password'].dirty && changePasswordForm.hasError('required', 'password')" 
              class="text-danger ">*Champ obligatoire</small>
        <div class="form-group  mt-4" [class.error]="changePasswordForm.controls['password'].dirty && changePasswordForm.hasError('required', 'password')">
          <label for="password">Nouveau mot de passe* :</label> 
          <input type="password" id="password" class="form-control" formControlName="password">
        </div>
        <small *ngIf="changePasswordForm.controls['password'].dirty && changePasswordForm.hasError('required', 'password')" 
              class="text-danger ">*Champ obligatoire</small>
  
        <div class="form-group mt-4" [class.error]="changePasswordForm.controls['confirmPassword'].dirty && changePasswordForm.hasError('required', 'confirmPassword')">
          <label for="password">Confirmez votre nouveau mot de passe* :</label>
          <input type="password" class="form-control" formControlName="confirmPassword">
        </div> 
        <small *ngIf="changePasswordForm.hasError('confirmPasswordValidator', 'confirmPassword')" 
              class="text-danger ">*Le mot de passe ne correspond pas</small> 
  
        <div class="d-flex flex-row gap-1 justify-content-end">     
          <button (click)="onReset()" type="submit" class="btn btn-primary mt-3 " >Valider </button>       
        </div>    
      </form>
    </div>
  </div>
</app-home>
