<div class="mt-2 container-fluid">
    <h2 class="text-center">Liste des commandes</h2>
    <div>
        <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
        <!-- <app-filter (filterRadioSelection)="onFilterCategory($event)"></app-filter> -->
      </div>
    <div class="mb-2 text-end">
        <button class="btn btn-primary" [routerLink]="['/', 'orders', 'add']">
            Ajouter une commande
        </button>
    </div>

    <ng-container *ngIf="orders$ | async as orders; else loading">

        <table class="table  table-hover table-bordered text-center" 
                *ngIf="orders.length > 0; else noData">
            <thead>
                <tr>
                    <th scope="col">Id de l'utilisateur</th>
                    <th scope="col">Statut de la commande</th>
                    <th scope="col">Date</th>
                    <th scope="col">Prix total</th>
                    <th scope="col">Modifier/Supprimer</th>
                </tr>
            </thead>
            <tbody  *ngFor="let order of orders">
                <ng-container *ngIf="searchText ===''|| order.status.toLowerCase().includes(searchText)" >
                <tr>
                    <th scope="row">{{order.idUser}}</th>
                    <td>{{order.status}}</td>
                    <td>{{order.date}} </td>
                    <td>{{order.price}} €</td>                 
                    <td>
                        <button class="btn btn-primary me-2"
                                [routerLink]="['/', 'orders', 'edit', order.id]"> 
                            <app-icon-edit></app-icon-edit>                    
                        </button>
                        <button class="btn btn-danger"
                        (click)="remove(order)">
                        <app-icon-delete></app-icon-delete>                    
                        </button>
                    </td>
                </tr> 
                </ng-container>           
            </tbody>
        </table> 
    </ng-container>    
</div>


<ng-template #noData>
    <div class="alert alert-danger" role="alert">
        <p>Aucune order disponible!</p>
    </div>
</ng-template>  
<ng-template #loading>
    <div class="alert alert-info" role="alert">
        <p class="">Chargement des données ... </p>
    </div>
</ng-template>
