<div class="mt-2 container-fluid">

    <h2 class="text-center">Ajouter un produit</h2>
    <app-product-form
      (cancel)="goToProductList()"
      (validate)="createProduct($event)">
    </app-product-form>
  </div>
  