footer{
    
    background-color: var(--app-primary);
    color: var(--app-light);
    
}
.bg-lou {
    background-color: var(--app-lou);
}
.footer{
    background-color: var(--app-primary);

}
.text-sylvain{
    color: white ;
}
.text-sylvain:hover {
    color: #a3d3f0;
 }
.titreLiens {
    font-size:larger;
}

.backFooter {
    background-color: var(--app-dark);
}