<footer>
    <div class="row bg-lou py-2">
      <div class="col text-center"style="color:var(--app-primary)">
        <i class="bi bi-credit-card h2"></i>
        <div class="mt-1" style="font-size:larger;color:var(--app-primary)">Paiement 100% sécurisé</div>
      </div>
    
      <div class="col text-center "style="color:var(--app-primary)">
              <i class="bi bi-truck h2"></i>
              <div  class="mt-1" style="font-size:larger;color:var(--app-primary)">Livraison rapide</div>
      </div>

      <div class="col text-center"style="color:var(--app-primary)">
        <i class="bi bi-telephone h2"></i>
        <div  class="mt-1" style="font-size:larger;color:var(--app-primary)">Service client réactif</div>
      </div>
    
      <div class="col text-center"style="color:var(--app-primary)">
        <i class="bi bi-emoji-smile h2"></i>
        <div class="mt-1" style="font-size:larger;color:var(--app-primary)">Clients satisfaits</div>
      </div>
    
      <div class="col text-center"> 
        <i class="bi bi-globe-americas h2" style="color:var(--app-primary)"></i>
        <div class="mt-1" style="font-size:larger; color:var(--app-primary);">Site éco-responsable</div> 
      </div>
    </div>

    <div class="row footer  py-2">
        <div class="col  text-center align-self-center">
            <a class="mx-2" href=""><img src="../assets/images/nozama_logo_b.svg" width="125px" ></a>
        </div>     
        <div class="col  text-center">
          <ul class="list-unstyled">
              <div class="titreLiens">LIENS</div>
              <li>
                  <a class="text-sylvain"[routerLink]="['/', 'contact']"> Contactez-nous </a>
              </li>
              <li>
                  <a class="text-sylvain" href="">Lien 2</a>
              </li>
          </ul>        
        </div>    
        <div class="col  text-center"> 
          <ul class="list-unstyled">
              <div class="titreLiens">LIENS</div>
              <li>
                  <a class="text-sylvain" href="">Lien 1</a>
              </li>
              <li>
                  <a class="text-sylvain" href="">Lien 2</a>
              </li>
          </ul>
        </div> 
    </div>
    <div class="row py-2 backFooter text-center">
        <div class="col">© 2023 Copyright: Nozama</div> 
    </div>
    
   
  </footer>
 

