<div class="mt-2 container-fluid">

<h2 class="text-center my-2">Ajouter une nouvelle adresse</h2>

    <app-adress-form
        (cancel) ="goToAdressList()"
        (validate) = "createAdress($event)">
    </app-adress-form>

</div>



