<div class="mt-2 container-fluid">

    <h2 class="text-center">Créer un utilisateur</h2>
    <app-user-form
      (cancel)="goToUserList()"
      (validate)="createUser($event)">
    </app-user-form>
  </div>
  