<div class=" container-fluid">
    <div class="row ">
        <div class="col">
            <h1>Mon Panier</h1>
        </div>
    </div>
    <ng-container *ngIf="data | async as product; else loading">
      <div *ngIf="product.length > 0; else noData">
        <div class="row bg-article p-3 mb-2 text-dark align-items-center" *ngFor="let productCart of product">
          <div class="col-3" >
            <img class="img-fluid" style=" width: 100px;" [src]="productCart.imageUrl" [alt]="productCart.description">
          </div>
          <div class="col-4 ">
            <h5><strong>{{ productCart.name }}</strong></h5>
          </div>
          <div class="col-1  ">
            <div class="row">
              <p>Quantité</p>
            </div>
            <div class="row">
             <input type="number" [(ngModel)]="selectedValue[productCart.id]" (input)="calculate()">
              <!-- <form [formGroup]="quantityForm"> 
                <select  [(ngModel)]="selectedValue[productCart.id]">
                    <option [value]=1>1</option>
                    <option [value]=2>2</option>
                    <option [value]=3>3</option>
                    <option [value]=4>4</option>
                    <option [value]=5>5</option>
                    <option [value]=6>6</option>
                    <option [value]=7>7</option>
                    <option [value]=8>8</option>
                    <option [value]=9>9</option>
                    <option [value]=10>10</option>
                </select>
              </form> -->
            </div>
          </div>
          <div class="col-2  text-center">
            <div class="row">
              <p>Prix</p>
            </div>
            <div class="row justify-content-center">{{calculateResult(productCart.price, selectedValue[productCart.id])}}€</div>
          </div>
          <div class="col-2  text-center align-items-center">
              <button type="button" class="btn btn-primary shadow " (click)="delete(productCart)"> Supprimer</button>
          </div>
        </div>    
        <div class="row justify-content-end">
          <div class="col-4 ">
            <div class="row mt-4">
              <h2>Récapitulatif</h2>
            </div>
            <div class="row   ">
              <div class="col ">
                <p>Panier</p>
                <p>Frais de livraison</p>
                <p>TVA</p>
                <p>Total (TVA incluse)</p>
              </div> 
              <div class="col text-end  ">
                <p>{{calculateCartTotal(product)}} €</p>
                <p>8 €</p>
                <p>{{(calculateCartTotal(product)*(0.20)).toFixed(2)}}</p>
                <p>{{calculateCartTotalWithTva(product)}}€</p>
              </div>
            
            </div>
          
            <div class="row payment-btn" (click)="goToPayment()">
                <button type="button" class="btn btn-primary  btn-lg shadow p-3 mb-2">
                 Procéder au paiement</button></div>

           </div>
        </div>

      </div>
    </ng-container>
</div>
<ng-template #noData>
    <div class="alert alert-danger" role="alert">
        <p>Aucune commande disponible!</p>
    </div>
</ng-template>  
<ng-template #loading>
    <div class="alert alert-info" role="alert">
        <p class="">Chargement des données ... </p>
    </div>
</ng-template>