<app-home>
    <div class="col col-lg-9 col-md-8 col-sm-12">
        <div class="row bg-article pb-4 px-5 mb-2">
            <h1 class="pt-4 pb-2">Mes informations</h1>
            <p class="pb-3">N'hésitez pas à modifier vos coordonnées ci-dessous pour que votre compte NOZAMA soit parfaitement à jour. (* Indique un champ obligatoire).</p>
        
        <form class="d-flex gap-1 flex-column" [formGroup]="form" (ngSubmit)="submit()">

            <div class="form-group mb-2 " >
                <label for="lastname">Nom * :</label>
                <input type="text" class="form-control " id="lastname"  formControlName="lastname">                
            </div> 
          
            <div class="form-group mb-2 " >
                <label for="firstname">Prénom* :</label>
                <input type="text" class="form-control " id="firstname"  formControlName="firstname">
            </div> 
          
              <div class="form-group mb-2">
                  <label for="firstname">Civilité* :</label>
                  <select class="form-select" id="gender"  aria-label="Floating label select example" formControlName="gender">
                    <option value="1">M</option>
                    <option value="2">F</option>
                    <option value="3">Non spécifié</option>
                  </select>
              </div>
          
              <div class="form-group mb-2 " >
                <label for="mobile">Téléphone :</label>
                <input type="text" class="form-control " id="mobile"  formControlName="mobile">
              </div>
          
              <div class="form-group mb-2 ">
                <label for="mail">Email* :</label>
                <input type="text" class="form-control " id="mail" formControlName="mail">
              </div>                   
              <div class="d-flex flex-row gap-1 justify-content-end">
              <button class="btn btn-primary"
                      [disabled]="isDisable()">
                Sauvegarder
              </button>
            </div>
          </form>
        </div>
    </div>
</app-home>

