/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use "./assets/style/theme";
@import 'bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

html,body{
    padding: auto;
    margin: 0;
    height: 100%;
    margin-top: 4rem;
}
.bg-article {
    background-color: var(--app-greyArticle);
}
.cursor:hover{
    cursor: pointer;
}