.font-text {
 color: rgba(223, 213, 213, 0.952);
 font-size: smaller ;
 font-style: system-ui;
}

.font-text-ed {
    color: rgba(109, 106, 106, 0.952);
    font-size: smaller ;
   }
a {
    text-decoration: none;
}