<div class="confirmation">
    <div class="status">Your transaction is successful.</div>
    <div class="id">Your transaction id is {{ transactionId }}</div>
    <div class="info">Your product will be shipped soon.</div>
  </div>



